@(queryForm : Form[InferenceQuery], modelName : String, inferredWords : Map[String, List[String]], recommendations : List[String], distributionWeights : Map[String, List[String]], recommendationWeights : List[String])

@import helper._
@import helper.twitterBootstrap._

@main(title="url recommender") {
        <h4>Topic inference for model: @modelName</h4>
        @helper.form(action = routes.QueryPageController.queryPost(modelName), args = 'id -> "queryForm") {
            @helper.inputText(
                        queryForm("urlInput"),
                        '_label -> "Enter a url",
                        '_showErrors -> true
            )
            <div class="clearfix  " id="maxTopics_field">
                <label for="maxTopics">maxTopics</label>
                <div class="input">

                    <input type="number" id="maxTopics" name="maxTopics" value="5" >

                    <span class="help-inline"></span>
                    <span class="help-block">Required</span>
                </div>
            </div>

            <div class="clearfix  " id="maxRecommendations_field">
                <label for="maxRecommendations">maxRecommendations</label>
                <div class="input">

                    <input type="number" id="maxRecommendations" name="maxRecommendations" value="5" >

                    <span class="help-inline"></span>
                    <span class="help-block">Required</span>
                </div>
            </div>
            <input type="submit" value="Get Topics"/>
        }

        @if(inferredWords.size() > 0) {
            <div id="results">
                @for(entry <- inferredWords.entrySet()) {
                    <div class="entry">
                        <span>Matched topics for <strong>@entry.getKey()</strong></span>
                        <ol>
                            @for((topicWords, index) <- entry.getValue().zipWithIndex) {
                                <li>
                                <strong>
                                    @distributionWeights(entry.getKey())(index)
                                </strong>: @topicWords
                                </li>
                            }
                        </ol>
                    </div>
                }
            </div>
        }

        @if(recommendations.size() > 0) {
            <div id="recommendations">
                <span>Recommendations</span>
                <ol>
                    @for((recco, index) <- recommendations.zipWithIndex) {
                        <li>
                            @* @recommendationWeights(index) *@<a href="@recco">@recco</a>
                        </li>
                    }
                </ol>
            </div>
        }
}